@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
/* html::-webkit-scrollbar,
ul::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 10px;
} */

/* Track */
/* html::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
} */

/* Handle */
/* html::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background: grey;
} */

html::-webkit-scrollbar, .scroll, ul::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar,.scroll,
ul {
    scrollbar-width: none;
}

.react-select__control {
    height: 42px;
}

.react-select__value-container {
    padding: 8px 12px;
}
